.navbar__container {
  width: 100vw;
  margin-top: 30px;
}
.navbar__container .container {
  width: 80%;
  margin: auto;
}
.navbar__container .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
}
.navbar__container .container .navbar .logo {
  width: 100%;
  height: 100%;
}
.navbar__container .container .navbar .logo a img {
  height: 55px;
  border-radius: 50%;
}
.navbar__container .container .navbar .links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vw;
}
.navbar__container .container .navbar .links__container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5vw;
}
.navbar__container .container .navbar .links__container .links a {
  text-decoration: none;
  color: #fff;
}
.navbar__container .container .navbar .links__container .button button {
  width: 150px;
  padding: 10px 0;
  background-color: #571CE0;
  border-radius: 20px;
  color: #fff;
  border: none;
  font-size: 1em;
  cursor: pointer;
}
.navbar__container .container .navbar .links__container .button button:active {
  border: none;
}
.navbar__container .container .navbar .links__container .button button:focus {
  border: none;
}